[2021-11-29 00:27] Ocramius opened #1 "Constant scalar types (and compositions thereof) are not currently considered"
While experimenting with the library, I noticed that constant scalar types are not currently working:

[code]

produces:

[code]

The same union done with `string` values behaves incorrectly too, but without crash:

[code]

The output should be an exception, but `2` is cast to `string`.

[code]

This is probably just a limitation of how the library operates right now

[2021-11-29 00:35] Ocramius opened #2 "Expand API of `CuyZ\Valinor\Mapper\Tree\Message\Message` to allow for i18n and API customization?"
Currently, `Message` is only an instance of `Stringable`: https://github.com/CuyZ/Valinor/blob/396f64a5246ccfe3f6f6d3211bac7f542a9c7fc6/src/Mapper/Tree/Message/Message.php#L9-L11

When using this library, you can expect the most common usage to be (pseudo-code):

[code]

In order to effectively write `mapping_error_to_failure_response()`, especially considering concerns like translation, i18n, and

[2021-11-29 00:43] Ocramius opened #3 ""stricter" mode for input types?"
Currently, the default behavior of this library is to go through automatic casting, similar to what PHP does with implicit type coercion.

This is probably fine for most use-cases, so this issue is just a question: is it possible to force the library to require **exact** types as input?

The reason is mostly to avoid issues like floating point -> integer conversion (or the opposite) happening by a

[2021-11-29 00:48] Ocramius opened #4 "Consider making most internal API `@internal` before moving to `1.0.0`"
Currently, most of the classes in the package are public (no `@internal` declared), but there are loads of details inside the `Definition`, `Library`, `Mapper`, `Type` and `Utility` namespaces that are likely fit for being marked `@internal` from the start.

While that will indeed reduce the API that third-parties can rely upon, it will give you more runway to change the API if/when needed, and th

[2021-11-29 00:53] Ocramius opened #5 "Integer array keys in `array{0: type}` syntax are not recognized correctly"
Following works:

[code]

[code]

Doing the same with integer array keys seems to make the tooling choke:

[code]

[code]

[2021-11-29 01:00] Ocramius opened #6 "Consider using built-in types from `phpstan/phpstan` or `vimeo/psalm` directly?"
The spec about how to declare annotated types changes constantly: this library seems to infer types with its own mechanisms, which is possibly why issues like #1 and #5 arise.

In order to reduce such issues, it may be a good idea to directly build on top of `phpstan/phpstan` or `vimeo/psalm` for their internal type definitions (value objects, practically):

 * https://github.com/phpstan/phpstan-s

[2021-11-29 01:02] Ocramius opened #7 "Require `ocramius/package-versions` instead of `composer/package-versions-deprecated`"
`composer/package-versions-deprecated` is a polyfill package designed for supporting older PHP versions: it is a replacement for `ocramius/package-versions`, but doesn't declare any of said API (owned by the parent `ocramius/package-versions` package).

It would be better, at library version, to declare a dependency on `ocramius/package-versions:^2` (which runs on `php:^7.4.7`), rather than includ

[2021-11-29 01:07] Ocramius opened #8 "How to map generic types?"
To try out things, I attempted mapping a generic class, where the generic type parameter has not been provided:

[code]

This leads to a clear exception:

[code]

The `README.md` example is clear about generic types where the type parameter has been set:

https://github.com/CuyZ/Valinor/blob/396f64a5246ccfe3f6f6d3211bac7f542a9c7fc6/README.md#L258-L259

How would one request a `MyGenericWrapper<int

[2021-11-29 09:26] shulard commented on #6
Hello !

Good point, but this means having a direct dependency on one of those tools. Do you think it's relevant to depend on it "just" to get their internal type definition ?

[2021-11-29 09:28] Ocramius commented on #6
It could help to know what upstream understands as types - the direct coupling would at least give an idea of version ranges supported.

The fact that we have an additional dependency is obviously problematic all the times, but right now you depend on the **DSL** of such packages, without stating it explicitly: `vimeo/psalm:^5` and `phpstan/phpstan:^2` may completely break the DSL in a new major r

[2021-11-29 09:32] shulard commented on #6
Yeah absolutely, it's better to have an explicit dependency than depending on the syntax only. Thank you for the answer !

[2021-11-29 09:36] Ocramius commented on #6
I wonder if `require-dev` would also suffice, but :shrug:

Re-building the parsing was certainly an interesting experiment, but it is very wasteful, and will indeed lead to constant tiny incompatibilities over time.

Other libraries worth mentioning here are https://github.com/phpDocumentor/ReflectionDocBlock + https://github.com/phpDocumentor/TypeResolver , which do half of what you need:

https:

[2021-11-29 09:41] stof commented on #7
Given that `ocramius/package-versions` 2.x works only with Composer 2+, another option is to use the `composer-runtime-api` API directly.

[2021-11-29 09:51] shulard commented on #6
This is an important point for that kind of library. Maybe, depending the context having a whole annotation set supported is not relevant.

For example, if I already depend on phpstan maybe I want to import the phpstan rules because my is code will be directly compliant. Same for psalm if my codebase is already using it. I'm not sure about introducing psalm specific syntax on a codebase that doesn

[2021-11-29 09:54] Ocramius commented on #6
Dunno, I mostly use psalm's syntax because it allows the most precise types, which is what matters most.

As in configuring the mapper with a specific annotation parser?

IMO data validation is something for a later stage: what attracted me to this library is the ability to get type-safe instances of my objects, starting from `mixed`: the validation part is something that always cuts deep in the b

[2021-11-29 10:02] shulard commented on #6
Ah maybe I'm not clear enough when I talk about validation. I just mean that we need to validate that the input data can be used to build type safe instance. Not really the business domain rules that will be controlled after.

This library makes me think of the « Missing Middleware » that can allow type safe queries input before they enter the application logic ^^.

Regarding the external resolver

[2021-11-29 10:08] Ocramius commented on #6
FWIW, `phpstan/phpstan` and `vimeo/psalm` try to stay aligned with each other, with some lag. The syntax is pretty much the same, when it comes to types.

I don't think that's the bottleneck for adoption: the first time people see a new type, they usually learn it in a matter of minutes (or less), and start adopting it.

For example, one type I use a lot these days is `positive-int|0`: takes a few

[2021-11-29 10:36] #1 closed

[2021-11-29 10:37] romm commented on #1
@Ocramius Thanks!

The cases you mentioned should work now, can you try again on your side and keep me updated? :)

[2021-11-29 11:02] Ocramius commented on #1
Seems to work as expected now, thanks!

[2021-11-29 11:06] azjezz commented on #6
I would like to also note that PHP-Stan organization has a doc-parser that can help a lot with this: https://github.com/phpstan/phpdoc-parser, and it should also help avoiding having phpstan or psalm as a dependency.

example: https://github.com/phpstan/phpdoc-parser/blob/master/tests/PHPStan/Parser/TypeParserTest.php#L64

[2021-11-29 11:12] Ocramius commented on #6
Absolute ref: https://github.com/phpstan/phpdoc-parser/blob/d639142cf83e91a07b4862217a6f8aa65ee10d08/tests/PHPStan/Parser/TypeParserTest.php#L64

[2021-11-29 11:18] romm commented on #5
@Ocramius thanks for digging such cases 😛

Should be ok by now on your side, can you confirm?

[2021-11-29 11:25] romm commented on #8
Hi @Ocramius, unfortunately type inferring for generics is not handled at all for now, I have to think about it, maybe it could be handled someday.

In the meantime, the following should work:

[code]

Also, documentation is not finished at all on this topic, but note that you can use the following annotations:

[code]

[2021-11-29 11:34] Ocramius commented on #8
Thanks for clarifying!

[2021-11-29 11:34] #8 closed

[2021-11-29 11:36] #7 closed

[2021-11-29 11:36] romm commented on #7
Thanks for the tip!

[2021-11-29 13:00] brandonsavage opened #17 "Named constructor support would be handy"
Presently, as designed, this library (which is excellent, BTW) only supports direct instantiation of objects through PHP's constructor method. It would be handy to permit the use of named constructors, that map the specific data to a particular static named constructor. This might be an optional third argument to `TreeMapper::map()`?

[2021-11-29 13:12] romm commented on #17
Actually, a lot of things are not documented (yet™) 😅 but that's already a feature (if I understood correctly), see:

https://github.com/CuyZ/Valinor/blob/ea842e2efb94ded9f9f2ebce1484f8d4e7e29237/tests/Integration/Mapping/Attribute/ObjectBuilderStrategyMappingTest.php#L59-L78

For classes that define several named constructors, a custom `ObjectBuilder` could be used I guess, I'd have to take a dee

[2021-11-29 14:40] romm commented on #6
Hi, thanks for the discussion and the very interesting inputs on this topic.

First of all, just to allow you to understand why the lib doesn't use PHPStan/Psalm type parsers: well this project has been underground for a (very) long time — actually I just checked and the first commit on the private repo of this lib started three months only after the first commit of `phpstan/phpdoc-parser` 😅 — at

[2021-11-29 15:41] brandonsavage commented on #17
Very nice! Truly beautiful. I'll close this for now and reopen it if I run into problems. Thanks so much!

[2021-11-29 15:41] #17 closed

[2021-11-29 15:52] Ocramius commented on #5
Seems to work as expected now, thanks @romm!

Found another issue, but will report it separately.

[2021-11-29 15:57] Ocramius opened #18 "Multiline type declarations seem to confuse the library overall"
Take following example:

[code]

The type parser does not understand how to proceed here:

[code]

Note: this is just #5, but with different formatting.

One of the most complex types from one of customer projects (could be useful for future expansion of type parsing) :

[code]

[2021-11-29 16:05] Ocramius commented on #6
@romm beware: I've only thrown out the idea, but if you believe your architectural solution is sound, then roll with it.

All these issues are suggestions, and you already did the heavy lifting and legwork to bring this library out in the open, so don't feel obliged to follow any direction which just comes from some random dude's suggestion coming from the internet :D

I think the topic has been e

[2021-11-29 16:05] #6 closed

[2021-11-29 16:15] #5 closed

[2021-11-29 16:17] romm commented on #6
Don't get me wrong, I value these inputs a lot, especially coming from people who have proven to be really concerned about OSS overall 🙂 — I don't feel obliged at all but I really appreciate the suggestions!

I keep the idea somewhere in case this would be doable at some point, thanks!

[2021-11-30 11:14] romm commented on #2
Hi @Ocramius, thanks for the suggestion.

Instead of modifying the `Message` signature, I'd suggest something else, let me know what you think about it.

Currently, when the mapping fails, an instance of [`MappingError`](https://github.com/CuyZ/Valinor/blob/ea842e2efb94ded9f9f2ebce1484f8d4e7e29237/src/Mapper/MappingError.php) is thrown, the only existing implementation by now is [`CannotMapObject`

[2021-11-30 11:53] romm commented on #18
Hi @Ocramius, could you try with #20 see if that's good on your side? If that's ok I'll merge the PR. :)

[2021-11-30 12:14] romm opened #24 "feat: allow to declare development environment"
Currently, the compilation of a class definition will detect file modification in order to re-run the compilation, see:

https://github.com/CuyZ/Valinor/blob/dd4624c5e0376cf1c590117dcad10c659a614701/src/Definition/Repository/Cache/Compiler/ClassDefinitionCompiler.php#L67-L82

While this is often needed during a user's development phase (because the value-objects used for the mapping are always cha

[2021-11-30 14:45] brayniverse opened #25 "Support psr/simple-cache 3.0"
Hey, I was wondering whether you want to support psr/simple-cache 3.0? It would require dropping support for PHP 7.4 which you might not want to do. I'm happy to submit a PR to drop support for PHP 7.4, and then another to add the return types to your cache implementations and delete `stubs/Psr/SimpleCache/CacheInterface.stub` and the reference to it in `phpstan.neon.dist`.

[2021-11-30 15:15] romm commented on #25
Hi @brayniverse, I noticed that when I added support for `psr/simple-cache:^2.0`. You're right, supporting v3.0 would mean dropping PHP 7.4 support.

While I plan to do it at some time, that would mean maintaining two separate branches, because the old branch would live at least until the end of PHP 7.4 security support, on [28 nov. 2022](https://www.php.net/supported-versions.php).

What is the r

[2021-11-30 15:35] brayniverse commented on #25
I only noticed it while trying this package on a demo application and wondered if you wanted help upgrading. I'll close this ticket for now and we can revisit the idea next year.

[2021-11-30 15:36] #25 closed

[2021-11-30 15:42] romm commented on #25
Thanks for clarification, I honestly can't wait to upgrade the codebase to PHP 8.0 as well 🙂 — if you're still around at that time I wont hesitate to ask for help!

[2021-11-30 15:46] shulard commented on #24
Hello !

I'm not sure that having this kind of development mode is a nice addition. Can't we have a Decorator to encapsulate the specific development mode feature ? This way we can use composition to define what's the most relevant implementation for the current context. Combined with a dependency injection container this will be completely transparent for the end user ^^.

What do you think ?

[2021-11-30 16:08] Ocramius commented on #18
LGTM. Also verified that optional array keys are considered in this :+1:

[2021-11-30 16:11] romm commented on #24
Hi, that's a very good proposal indeed; at some point during the library development I even implemented a service provider, as defined in the excellent [container-interop/service-provider](https://github.com/container-interop/service-provider) repository (that has its chances to become a PSR someday) — but I removed it, see below why.

The main problem I can see with making the container open to t

[2021-11-30 16:36] shulard commented on #24
I'm totally with you about the container. A library like this can give objects and public API that will be used to give a result. When I mentioned the container, it's more on the end user side. For example with Symfony, we can imagine a bridge package that handles all the wiring with the framework internal details (development mode for example). For sure this bridge will not land in the current im

[2021-11-30 16:38] Ocramius opened #26 "Support `@psalm-type` and `@psalm-import-type` for importing complex types from other symbols?"
## Background

Usage of `@psalm-type` and `@psalm-import-type` allows declaring local and foreign aliases for complex type compositions.

These types ares extremely useful when creating a large trees of array-like structures, where creating a large tree of objects would potentially be worse/wasteful from a development perspective.

Most often, these are useful when attempting to map object structu

[2021-11-30 17:48] romm commented on #24
I'm not sure I understood correctly your point, but the user *can* actually customize settings, by configuring the `MapperBuilder` (which is the only entry point into the library right now). See for instance:

https://github.com/CuyZ/Valinor/blob/dd4624c5e0376cf1c590117dcad10c659a614701/src/MapperBuilder.php#L30-L36

Any contribution is more than welcome! We can keep the discussion about the imple

[2021-11-30 17:50] Ocramius commented on #24
* for `development`, use a null/void cache (always invalidate)
 * for `production`, always consider the cache as valid (sources should be considered immutable)

It's a fair assumption that covers `~99.99%` of codebases.

[2021-11-30 17:53] romm commented on #24
Agreed, with a slight change that in dev-mode a memoization cache is used for the like of the current request. WDYT?

[2021-11-30 18:00] Ocramius commented on #24
Sensible: using an array-like in-memory PSR-6 cache suffices.

[2021-11-30 18:09] romm commented on #24
Well that's what I meant by memoization 😬 I may be using the word badly though.

[2021-12-01 08:45] #18 closed

[2021-12-02 16:20] Ocramius opened #28 "Attempting to map constant scalar values leads to `CannotResolveTypeFromUnion` rather than `MappingError`"
Taking following example:

[code]

The expectation is that the `MappingError` is rendered (as per `catch` block). The current implementation throws a much deeper exception though:

[code]

[2021-12-02 17:03] romm commented on #28
Indeed, this should be caught in the `MappingError`. If you implement the interface `\CuyZ\Valinor\Mapper\Tree\Message\Message` in the class `\CuyZ\Valinor\Type\Resolver\Exception\CannotResolveTypeFromUnion` that should solve it. But the message is maybe not the best one though, maybe we should change it? WDYT?

[2021-12-02 17:28] Ocramius commented on #28
I'll see if I can send a patch for this, but unlikely this week :D

[2021-12-02 21:10] romm commented on #26
Hi @Ocramius, I did a first run to handle the local type aliasing feature in #29. Can you give it a try?

Next will be the type alias importing. 🙁

[2021-12-03 13:32] romm commented on #26
Aaand there you go for the type alias imports. 🙂

See #29 as well!

[2021-12-05 18:33] marioquartz opened #31 "Classes with arrays of classes dont work in PHP7.4"
I have a series of classes with multiples properties, when its a string or other class there are no problem.
But when a class have an array of other classes the mapper ignores that

Example:
Raw Json: '{"urls":[{"expanded_url":"https://example.com"}]}'
Class to be mapped:
[code]
And
[code]
property urls converts in a normal array with a normal array inside. I tested the class Url and work without

[2021-12-05 18:42] romm commented on #31
Hi @marioquartz, I believe the issue is that you use the annotation `@var` in your constructor's docblock. You should try this instead:

[code]

Or, if you're using PHP 8.0+ you might use [promoted properties](https://stitcher.io/blog/constructor-promotion-in-php-8):

[code]

[2021-12-05 20:56] marioquartz commented on #31
First only use annotation in the first "public var $urls" But for desesperation i annotated every use of $urls i even duplicated with @psalm-var

I tested your proposal and works. Thanks

[2021-12-05 20:59] romm commented on #31
I'm glad it solved your issue. 😉

[2021-12-05 20:59] #31 closed

[2021-12-07 18:45] romm commented on #26
Hi @Ocramius, I just released v0.2.0 shipped with these features. If/when you have time to check it out, please report any problem found in a new GH issue. 🙂

[2021-12-07 18:45] #26 closed

[2021-12-07 18:57] romm commented on #3
Hi @Ocramius, from what I see the only possible issue would be `float` to `int` conversion (the opposite should never be a problem IMO). My knowledge is quite low on this topic, you think that something like `1.0000001` could be cast to `1`? If that's the case we'll find a solution for this case.

For other scalars, I'd like your feedback on how a `mixed` can be cast to `bool`, see:

https://githu

[2021-12-11 20:22] novafree1 opened #34 "default values in the constructor"
HI

I tried to create object with default value

final class SomeClass
{
    public function __construct(private string $var='aa')
    {

    }
}

with empty input data

 (new \CuyZ\Valinor\MapperBuilder())
        ->mapper()
        ->map(
            SomeClass::class,
            []
        );

and got CannotMapObject Exception

It seems to me that in this case have to be assignment of a default

[2021-12-11 20:44] romm commented on #34
Hi @novafree1, in this particular case you are mapping to an object that has only one property, this is why you encounter this exception. If you call the `map` method with `null` as a second argument, the default value will be used and no exception will be raised.

Also note that if there are at least two parameters in your constructor, there will be no issue calling the mapper with `[]`.

I'm not

[2021-12-12 18:26] novafree1 commented on #34
Hi!

Thank You for Your response. You done supper useful component. I checked default values on object with several values, yes it's working fine. But I think that behavior of the component should be the same regardless of parameters count. I agree that situation with one default parameter is rare, but it can be. For example when user working with some entity and need to confirm some action. entit

[2021-12-12 19:45] oskarcalvo opened #35 "[Question] How it's the estructure of map class files."
I have see the examplen and I have a questión.
I have to write all the clases definition in the same file or I can do this:

[code]

[code]

[2021-12-12 20:01] romm commented on #35
Hi @oskarcalvo, absolutely you can put your classes in different files. In the example they are gathered for readability reasons. 😉

[2021-12-15 23:10] romm commented on #2
Hi @Ocramius, I've done some work on this topic, could you check #38?

More information in the [chapter "Validation" of the README](https://github.com/CuyZ/Valinor/blob/4ae901581c2de6ecf134e32d3fd6b55e517b900d/README.md#validation).

[2021-12-16 21:00] brandonsavage opened #39 "Example code does not work with library"
I am trying to instantiate an object using this library, and using `DateTimeInterface` type hints as described in the example in the README. However, I get a CannotMapObject exception when I do. Does this library not yet support using a `DateTimeInterface` type hint for date times? Thanks.

[2021-12-16 22:57] romm commented on #39
Hi @brandonsavage, sorry for the lack of documentation about this, I will take some time to expand on it.

What is the input value that you're trying to map to a DateTime? The library will try different format, see the test case below:

https://github.com/CuyZ/Valinor/blob/e5ccbe201b8767066e0e0510e606f9492f3270f1/tests/Integration/Mapping/Type/DateTimeMappingTest.php#L17-L44

In case the format is

[2021-12-16 23:08] brandonsavage commented on #39
Thanks for getting back to me so quick. I was actually reviewing that test when your comment showed up. The date is a Postgres `datetime` column with precision (which is the way they come).  I’ll have to do some more research to see how to handle it and format it correctly. I may have to format it myself on its way out of the database.

Thanks for taking a look at my issue. I think there’s a way t

[2021-12-16 23:19] romm commented on #39
The library could give a way to define some global custom format that would be tested automatically during mapping, I'll have to do some research, could look like:

[code]

Please let me know what is the exact format returned by these column, to see if we can do something out of the box. 🙂

[2021-12-16 23:57] brandonsavage commented on #39
It appears the format returned by the columns is:

`Y-m-d H:i:s.u`

Note the precision on the seconds. It doesn't like the precision. Transforming the data into the format of an array specifying the datetime and the format did the trick.

[2021-12-17 00:23] brandonsavage commented on #39
For what it's worth, MySQL outputs the time as a timestamp in the following format:

`YYYY-MM-DD hh:mm:ss`

It might make sense to support this format for both MySQL and PgSQL just to help developers out.

In addition, it would appear the dates and times in the example in the README do not gracefully work, either. The date is `"date": "1957-07-23 13:37:42",` but I wasn't able to find a format that

[2021-12-18 02:21] brandonsavage commented on #39
This was resolved by #39.

[2021-12-18 02:21] #39 closed

[2021-12-18 20:36] brandonsavage opened #42 "Roll a 0.2.1 release containing date format fixes"
As presently designed, the example code in the README file *does not work* as written without the patch introduced in 179ba3df299be62b0eac24a80e9d4d56d0bb5074. Its my suggestion that we roll a 0.2.1 release to incorporate that change (you can cherry-pick if you have not-ready features waiting in `master`). I want to avoid folks coming and trying the library only to discover that the example code d

[2021-12-18 21:42] romm commented on #42
I think you're absolutely right, just released new minor version. 🙂

[2021-12-19 12:05] romm opened #44 "Strengthen tests for datetime mapping"
As stated by @keichinger in https://github.com/CuyZ/Valinor/pull/40#discussion_r771919725, the test-cases below can lead to false-positive, mainly because every case is mapping to the exact same datetime.

https://github.com/CuyZ/Valinor/blob/f12ef39e2f92667d97e84e632f8a08e617252d2a/tests/Integration/Mapping/Type/DateTimeMappingTest.php#L18-L60

Changing each case to a different datetime everytime

[2021-12-23 17:08] marioquartz opened #45 "problem saving estructure cache in 0.3.0"
In version 0.2.0 there are no problems at all. But when I change version to 0.3.0 appears a problem saving the cache:

[code]
 It looks like for some reason I can not rename files in /tmp/
I can configure other path?

[2021-12-25 10:21] romm commented on #45
Hi @marioquartz, it looks like a permission issue.

You can change the cache directory this way:

[code]

[2021-12-25 10:21] #42 closed

[2021-12-25 10:21] #35 closed

[2021-12-25 14:57] marioquartz commented on #45
Thanks. Its even works with 0.3

[2021-12-25 14:57] #45 closed

[2021-12-27 18:26] aurimasniekis opened #46 "Compiled PhpCacheFile fails with attributes which has new initializers"
I was playing with this library today making a bundle for Symfony applications and discovered that if the property has an attribute that has nested attributes/objects will generate invalid cached PHP file code.

Here is how to reproduce:

<details>
  <summary>Click to expand!</summary>

[code]

</details>

Here is generated PhpCacheFile:

<details>
  <summary>Click to expand!</summary>

[code]
</d

[2021-12-27 19:26] aurimasniekis commented on #46
Should be fixed by #47

[2021-12-27 19:54] #46 closed

[2021-12-27 21:40] aurimasniekis opened #48 "Feat: Allow providing own PSR-16 cache service"
I have been working on making a Symfony bundle for this library and thought it would be great if it was possible to inject my own PSR-16 cache service instead of using a file cache provided from Library.

With the current setup, I think it would be impossible without replicating a whole Container functionality.

Maybe it's better to replicate Container for situations where integrating with framewo

[2021-12-27 21:45] aurimasniekis opened #49 "Feat: Add naming strategy to allow mixing source/property field names"
In many popular `denormalizers/mappers` it's common to provide a naming strategy to switch between different naming cases for e.g. `under_score` => `camelCase`. I have looked a bit inside the library, but it seems with the current setup it is not possible.

@romm maybe you have some suggestions, where I should start with this kind of feature?

[2021-12-27 21:56] aurimasniekis commented on #2
I think for the validation side of things it would be nice to have something similar to `symfony/validator` with [`ConstraintViolation`](https://github.com/symfony/validator/blob/6.0/ConstraintViolationInterface.php) and [`ConstraintViolationList`](https://github.com/symfony/validator/blob/6.0/ConstraintViolationListInterface.php) and then `MappingError::getViolations()` or something similar could

[2021-12-27 22:22] romm commented on #49
Hi @aurimasniekis, indeed this is a missing feature by now, although it should be quite easy to add it — see #19. I'd be really happy to go on with the discussion, please don't hesitate to add your thoughts on the topic. 🙂

[2021-12-27 22:42] romm commented on #2
Hi @aurimasniekis, being able to get a flat list of errors might be useful indeed; I already kept an open door for this feature — see https://github.com/CuyZ/Valinor/pull/38#issue-1081593482. Whether it should be part of the library or not is still to discuss, please tell me what you think of it.

Concerning the `messageTemplate` feature, there's probably still some work to do. With the current st

[2021-12-27 22:52] romm commented on #48
Hi @aurimasniekis, thanks for the suggestion. Before going any further, could you explain what would be the reasons to provide another PSR-16 implementation? For now, the cache is used only for compiled class definitions:

https://github.com/CuyZ/Valinor/blob/d2795bc6b9ee53f9896889cabc1006be2586b008/src/Library/Container.php#L144-L145

The generated PHP code seems to be the best performance-wise a

[2021-12-28 06:53] aurimasniekis commented on #48
This is probably more practicality than a performance-wise alternative, the idea is to let the app/framework manage the caching of those classes instead of the library, this would allow different types of configurations when using a library with frameworks that have really extensive caching options.

At the moment I am working on the bundle to integrate this library with Symfony with all its magic

[2021-12-28 06:58] aurimasniekis commented on #49
Yeah, I somehow forgot to check Discussions before posting this issue. I had a similar idea to map before passing source to the mapper, but then there are cases where I would like to have an attribute that would allow changing the expected source name for e.g.

[code]

Also for some people migrating from libs like `symfony/serializer`, `jms/serializer` it would be nice to allow mapper to have a si

[2021-12-28 07:00] aurimasniekis commented on #2
The `messageTemplate` would basically provide the needed `i18n` support because it would give you an error message template with variables, so then u can translate them and pass variables to any translation library.

[2022-01-01 23:56] romm commented on #2
Hi @Ocramius / @aurimasniekis, I've made major work on this topic, can you check #52 and tell me what you think about it? I think this is a good approach, but you may have feedback on it. 🙂

[2022-01-02 11:01] romm commented on #49
Hi @aurimasniekis, I'm not sure that the class the input is mapped to is a good place to give that kind of information; after all, these classes are "just" VOs/DTOs that should not be aware at all that they can be created by this library.

I'd rather give access to a more sophisticated source modifier which would be in charge of modifying the input in a convenient way.

What do you think?

[2022-01-02 15:06] romm commented on #48
Hi @aurimasniekis, this looks very nice! Could you add some lines in the README explaining how to use it in a Symfony environment?

From what I saw, you would need to inject your own cache implementation mainly for cache-warmup, am I right? I'm still struggling to see how useful this would be without having access to `\CuyZ\Valinor\Definition\Repository\ClassDefinitionRepository` as well. Could yo

[2022-01-03 16:03] romm opened #53 "Support intersection of array types"
Psalm supports syntax like this one:

[code]

This library should be able to support it as well.

Reference: https://twitter.com/orklah/status/1478027768105480194

[2022-01-07 18:18] romm commented on #28
Fixed by e834cdc5

[2022-01-07 18:18] #28 closed

[2022-01-07 18:20] Ocramius commented on #28
Thanks @romm!

[2022-01-07 18:22] romm commented on #28
You're welcome, now go and enjoy the last release! 😛

[2022-01-07 18:26] Ocramius commented on #28
I wish: currently delegated other devs to do that for me xD

[2022-01-07 19:58] ro0NL commented on #2
Hi :wave: looks neat here.

I'm on a [journey](https://github.com/symfony/symfony/pull/43047#issuecomment-921244890) of deserializing/validating/mapping payloads to domain models, and found this repo.

My main concern is exactly this topic, and i think https://github.com/CuyZ/Valinor/issues/2#issuecomment-1001774650 gets it right.

symfony/validator brings _full_ i18n compatibility: https://symfon

[2022-01-10 20:09] romm commented on #2
Hi @ro0NL, thanks for your interest!

To answer your main question: yes, the library is able to read the attributes from the *nodes* (as I call them in the library) — they can come from class properties or construct parameters. Now the question whether these attributes should be used for validating an input or not is another topic, let me explain my thoughts on this.

One of the main aspect of thi

[2022-01-10 21:04] ro0NL commented on #2
I'd say (business) validation is a service-layer concern. A complex constraint may require eg. a DB connection.

While i strive for "data models in valid state", im not nessecarily fan of them having runtime assertions all over. In that sense i prefer the type system to do it's work (let it be enhanced psalm/phppdoc).

As such, to me `new Foo('not an email'); // error` is business rule violation,

[2022-01-11 07:54] ro0NL commented on #2
Btw see also https://symfony.com/blog/new-in-symfony-5-4-serializer-improvements#collect-denormalization-type-errors for how Symfony, eh, does it.

IMHO it suffers the same design issue ... that is; a ton of boilerplate and still no i18n type-errors nor i18n value-errors out of the box :joy:

It can also leak a partial (mapped) object .. let's not go there :)

I understand this is maybe a lot of h

[2022-01-11 10:51] romm commented on #2
The issue with pre-validating the input is that you have no idea what's inside, you'd have to check the types for every parameter, and worst if the value you seek is deeply nested. The goal of this library is to help with formatting any input to a known nested structure — which can then be used to do the business logic associated to it — while aggregating low-level errors.

As you said complex con

[2022-01-11 11:15] ro0NL commented on #2
fair :) then my main concern is still the boilerplate involved to achieve i18n type-errors out-of-the-box-ish.

also fair :) for the record, all im suggesting is to invoke symfony/validator either on input, or the mapped object, to activate "its" constraint validation. If we decide to validate the mapped object, then perhaps this is out-of-scope here i agree.

[2022-01-11 11:19] ro0NL commented on #2
i dont need the boilerplate in every controller for sure ... so im curious who will own the ultimate abstraction eventually, time will tell :)

[2022-01-13 17:23] #4 closed

[2022-01-13 18:09] romm commented on #2
Right, I'll think about it.

In the meantime, please note that @framjet began a Symfony bundle to integrate this library in the framework, see https://github.com/framjet/php-valinor-bundle — maybe that's where we could have some helper for automatic i18n.

[2022-01-24 15:57] danydev opened #64 "How to apply custom transformations?"
Context: as of today, I map my API REST request bodies from json to DTO by using Symfony's Forms. While it works fairly well, Symfony's Form are meant to handle forms. I would like to avoid their inherited complexity and limitations since are not the best fit for my use case, so I'm looking for an alternative and I want to try out Valinor.

Problem: I have cases where in the request I receive thin

[2022-01-24 16:17] romm commented on #64
Hi @danydev!

I'm glad you asked this question actually. This is a "hidden" feature; it is not documented yet because I'm still not sure if I want it to stay in the library (at least as it is), so please be aware that the behavior I'll explain below could change in the future.

There is a `bind()` method that can be used with the mapper builder, that can explain the mapper how to create a certain

[2022-01-24 16:45] danydev commented on #64
Thanks for your response, the `bind` sounds promising. Also I assumed that the library couldn't create a Money because the sent type is a string, while the constructor has float (and I don't want to create a static method `fromString` in Money, just because a mapper needs it).

I do have another use case: sometime I create my DTO before allowing Symfony Form to do its magic, because I create it wi

[2022-01-24 22:07] marek-mikula opened #65 "Problems with $cacheDir attribute"
Hello,

I was having some problems with permissions on my temp folder on my Mac so I decided to provide my own custom cache folder for compiled files.

But I ran into an issue. The cached string is firstly put into temp folder and then 'renamed' (moved into my specified cache folder') so I can't get passed the error with my permissions.

Is there any specific reason why to do this way? Why not jus

[2022-01-25 08:46] romm commented on #64
The library will take care of casting a string representation of a float to a float, FYI this happens here:
https://github.com/CuyZ/Valinor/blob/e2800339411b68a24eebc266377184c76ef2701e/src/Type/Types/FloatType.php#L35-L47

This is not how it would be done with this library: it is not intended — nor will it ever be — to hydrate pre-constructed objects.

For your use case, it seems like the `Create

[2022-01-25 08:50] romm commented on #65
Hi @marek-mikula, indeed I never ran into this issue myself but seems like some change should be done to prevent this usecase to happen.

Would you mind opening a PR with a fix that runs on your application? It looks like the test suite would not need any modification.

[2022-01-25 09:14] marek-mikula commented on #65
Hello @romm, thank you for your immediate response. I will open PR today after work.

[2022-01-25 09:35] danydev commented on #64
Just to clarify, the root problem in my case if that part of the input (the product identifier) is in the request url. And the remaining input (all the other fields) are in the json body.

So I think the best option with Valinor would be to create one single input, taking the id from the request and the other fields from the json body. It may look a bit hacky to do it in the controller, but surely

[2022-01-25 09:43] romm commented on #65
That would be very much appreciated, thanks in advance!

[2022-01-25 10:01] romm commented on #64
Right, I misunderstood that part. Indeed the best way to do that would probably be to modify the source before giving it to the mapper — shouldn't be that hard, especially if it needs to be added at the root level.

[2022-01-25 11:04] danydev commented on #64
I just tried it out the `bind` option. I think I could not work with this, since what I'm receiving in the callback is the entire source, forcing me to create adhoc callbacks in order to map to the correct field (i.e. I'm receiving the root source, not just the id)

ideally I would configure it like "for this field, use this bind callback", so I could receive the value of that field in the callbac

[2022-01-25 13:22] romm commented on #64
Looks like there is an issue, the callback should not receive the whole source as argument, only the value at the concerned path. Could you show the objects you're trying to map, as well as the configuration of the mapper builder?

[2022-01-25 13:36] romm commented on #64
Looks like a bug, probably caused by the fact that the constructor has only one argument. I'll take a look ASAP and come back to you!

[2022-01-25 14:02] danydev commented on #64
Ok, cool. In the meanwhile, can I ask if there are ways to handle this case during the mapping?
I have cases where the DTOs that I need to map are exposed differently in the API (so in the "source"). And I can't / don't want just modify the DTO since it's a "core" DTO (i.e. that it's passed through my services where some business logic is applied, it's not just the user input).

So something like

[2022-01-28 16:23] roquie opened #68 "Unexpected hydration behavior"
I copy-paste example and run it:

[code]

I got following result:
<img width="408" alt="Screenshot 2022-01-28 at 19 19 43" src="https://user-images.githubusercontent.com/3214290/151583052-80c2d56a-3b5f-437e-9a3c-c76bad37090b.png">

But I expect array of  `Answer` objects in `answers` property. What am I doing wrong?

P.S. PHP 8.1.1, library version: 0.5.0

[2022-01-28 18:15] roquie commented on #68
Also `@var array<Answer>` or `@var Answer[]` not working in property declaration (i.e. without constructor or static methods).

[2022-01-28 18:36] romm commented on #68
Indeed the example seems incorrect, I'll change it to something actually working.

@roquie it should be working with properties without constructor, could you post here the code that's not working?

[2022-01-28 19:00] roquie commented on #68
Good :)

Oh, sorry. Now I double checked this. It's my mistake with camelCase/snake_case notation.

By the way, how to automatically convert case from source to DTO? Maybe via Attributes or "`CustomMappingStrategy`" existing?

[2022-01-28 19:09] #68 closed

[2022-01-31 14:35] roquie opened #70 "Do you supports default property value for readonly properties?"
Example:

[code]

Let's map it:

[code]

Expected result:

[code]

m?

[2022-01-31 14:45] romm commented on #70
Default value is an existing PHP feature, if you want to take advantage of it just use it as below, the mapper will handle it properly.

[code]

[2022-02-01 20:05] roquie commented on #70
Your example will be successful for non read only properties. Attempting to hydration read only property with field who has default value will throw an PHP error (should be declared once).

My question is about opportunity to have filled read only property after hydration if it presented or to set default value it from attribute.

[2022-02-15 21:32] romm commented on #64
Hi @danydev I've done some work in #72 to improve the way the `bind()` method works. Could you try to checkout the branch of the PR and try the code below (with maybe some adaptation) to see if that would better fit your use case?

[code]

Concerning your last message in date, @Mopolo has been working on a solution for this kind of usecases. We'll try to get back at you as soon as possible so you

[2022-02-15 22:25] #65 closed

[2022-02-21 15:55] dvaeversted opened #76 "License in composer.json"
According to the LICENSE file this repository is MIT licensed, however in composer.json it says "GPL".

[2022-02-21 16:05] #76 closed

[2022-02-22 08:54] dvaeversted commented on #3
I would love a way to enforce strictness as well, especially when handling data received as input through an API.

If i have specified an API endpoint to accept integers in a certain field, i would never expect a numeric string to work in such a field.
In case the serializer or similar is changed later on, it would either risk breaking existing consumers of the API or require the same "loose" logi

[2022-02-22 09:00] romm commented on #3
Hi @dvaeversted that's an interesting point indeed. I will definitely think about a solution to this and keep you updated in this issue.

[2022-02-25 09:19] romm commented on #49
Hi @aurimasniekis could you take a look at #75 and check if that could help you out?

[2022-03-03 12:10] romm commented on #44
Fixed in #84, thanks @Lucian-Olariu!

[2022-03-03 12:10] #44 closed

[2022-03-03 15:33] magnetik opened #85 "Named constructor that received input as array"
Hi,

I've an object which deserialization can only be done in a constructor that receive all sub elements as an array.

Something like

[code]

That is handled by :

[code]

Don't mind the something super strange as this is not my real use case, I really need to handle some weird data.

Can something like this be done with valinor ?

[2022-03-03 16:52] romm commented on #85
Hi @magnetik, the goal of the library is to help with the mapping of the data, so I guess the constructor would be better with something like below, although I'm not sure how useful this kind of usecase can be.

[code]

Note that the parameters can also be optional, depending on the needs, in which case they don't need to be in the source:

[code]

I'm not sure I'm answering your question, please

[2022-03-04 15:22] magnetik commented on #85
Thanks for your answer.

I've tried to simplify my example but it was not relevant ^^

The real thing I want to tackle is an object containing properties with any name possible.
For instance I can have :
[code]

and I map them in an object implementing `ArrayAccess` .

Not sure what would be the right way to map it using valinor?

[2022-03-04 15:47] romm commented on #85
Sorry I'm still struggling to understand properly. 😬

You do have to specify all properties/arguments on which the source will be mapped to; what do you mean by "any name possible"? Is this some kind of "dynamic property naming" or something?

May I ask the real usage/application of your example? Maybe with a bigger picture I could understand more easily.

[2022-03-04 16:22] magnetik commented on #85
I'm failing to explain it clearly, no problem :D

It's dynamic properties indeed !

My application can receive an object with any arbitrary key.
(I'm forced to use this kind of input by the application using my API)

[2022-03-04 16:24] romm commented on #85
I see, but then how are you supposed to know which type to apply on properties?

[2022-03-04 16:32] magnetik commented on #85
That's the neat part (😒 ): you don't.

That's why I'm mapping it to an ArrayAccess so I can store this in an array container `array<string, int|string|bool>`

[2022-03-04 16:35] romm commented on #85
😄

Well I'm not sure how Valinor can help in this case.

Maybe you can try to map to `array<string, int|string|bool>` directly and then do whatever you want with it, but honestly it looks like an architectural problem that tools wont solve easily for you. :D

[2022-03-04 17:34] magnetik commented on #85
I was using symfony form and using some voodoo stuff I was able to map this kind of source.

I was hoping for valinor to cover this too.

Is there any way to add some custom mapper so I can do it on my own if this do not fit the library?

[2022-03-08 10:47] romm commented on #85
Hi @magnetik, following up the discussion here instead of directly in #87 — which can't really be merged, sorry for the effort you put in, but the good news is that I think I know how to help you with this particular case. Could you try something like below, it should work out of the box.

[code]

[2022-03-08 15:17] magnetik commented on #85
No problem about the non merging. I used it to understand the inner pluming of Valinor :)

It works indeed ! I had a problem in my ArrayAccess object (`$this->values = []` instead of `$this->values = $values`) that took me ages to find.

Thanks again :)
(Your can close if you want to)

[2022-03-09 08:35] magnetik opened #90 "Second execution (from cache) fails"
Hi,

I've been testing on master, and while first execution works in my tests, the second one always fails with:

[code]

I'm running php 8.1

[2022-03-09 08:37] romm commented on #90
Hi @magnetik thanks for the report; could you post the full error of the backtrace?

[2022-03-09 08:44] magnetik commented on #90
Sure thing

[code]

[2022-03-09 08:45] romm commented on #90
Ok thanks, could you post the content of the file ` /tmp/fb00b5114d7e3f185faedd48747f45f62aafcffe.php`?

[2022-03-09 08:49] magnetik commented on #90
[code]

[2022-03-09 08:54] romm commented on #90
Ok, can you confirm that in the constructor class `App\EasyConfig\Model\ServerConfig` the parameter `$pluginSettings` has a default value containing an instance of `App\EasyConfig\Model\Settings`?

[2022-03-09 08:59] magnetik commented on #90
indeed

[2022-03-09 09:32] magnetik commented on #90
It works !

[2022-03-09 09:33] #90 closed

[2022-03-09 09:39] romm opened #92 "misc: change attribute arguments compilation"
Instead of serializing all arguments, only those with an object value should be serialized: scalar values should be `var_export`'ed.

Reference:

https://github.com/CuyZ/Valinor/blob/e3592e18c5c6cdab104b6bfd38d0223723ccc08a/src/Definition/Repository/Cache/Compiler/AttributesCompiler.php#L94-L99

Should look like:

https://github.com/CuyZ/Valinor/blob/fdef93074c32cf36072446da8a3466a1bf781dbb/src/De

[2022-03-25 10:40] magnetik opened #100 "[0.7] More specific registered constructor is not called"
Hi,

I have hierarchy of objects that look like this one:

[code]

With 0.7, I register my constructor trough  `$mapperBuilder->registerConstructor(B::customConstructor(...))`

Then I try to map A, but the native constructor is always called and not the custom one even though it's more specific  (that was working on 0.6).

[2022-03-25 14:42] magnetik commented on #100
Could this be because of the class hierarchy? I do not map directly on `SomeClass` but on another class that have a property with SomeClass as type

[2022-03-25 14:42] romm commented on #64
Hi @danydev; @Mopolo has done wonderful work that could help with edge cases like yours. Please read the [documentation](https://github.com/CuyZ/Valinor#modifiers) for more details.

If something is still not relevant, please don't hesitate to re-open this issue or open a new one.

[2022-03-25 14:42] #64 closed

[2022-03-25 14:48] romm commented on #100
This is also working on my side:

[code]

I'm afraid I'll need more details about your usecase to understand what's wrong.

[2022-03-25 14:50] #49 closed

[2022-03-28 07:39] magnetik commented on #100
Hi,

I've got bitten by the fact that `registerConstructor` returns a new instance of the mapper builder.
I was doing
[code]

Sorry for the rookie mistake!

Everything is fine. Still looking forward for a way to whitelist my constructors without having to declare them.

Have a nice week.

[2022-03-28 07:39] #100 closed

[2022-03-28 07:50] romm commented on #100
![image](https://user-images.githubusercontent.com/6342901/160351398-9cad484a-de86-4e39-bf73-c5bc955932e6.png)

[2022-04-13 01:09] aiglesiasn opened #111 "Question about modifying values of a source"
Hi Romain!
Thank you for your great work!

I have a question about what approach should I take.

We were using version 0.3.0 of Valinor until now, and we created our custom sources for different classes, but as we are migration to 0.7.0 I found the Mapper/Source classes very useful but I want to ask you if there's anyway I can modify a value of a multidimensional array key to a `(array) json_decod

[2022-05-01 07:26] eigan opened #113 "How to not auto-assign null to nullable properties?"
I want to differentiate between user not supplying a property, and supplying `null`.

[code]

The source `['id' => 1]` will set `Payload::$note` to `null`. But user
did not supply `null` as value. I want to handle this a MappingError and ask
user to supply either null or string. Is this possible somehow?

[2022-05-01 07:33] eigan opened #114 "Inconsistent results with nullable property"
When the source is empty, is the mapper not able to set `null` to nullable property.

### Reproduction
[code]

### Expected behavior
`Foo::$note` should be assigned `null` as value to be consistent with example `Bar`, but see my other issue here: #113.

[2022-05-01 07:37] eigan commented on #114
Introducing a second nullable will make it possible to map.

[code]

[2022-05-01 07:50] eigan commented on #114
[code]
Introducing a new property yields different result. `Foo::$bar` is no longer a `Bar`.
[code]

[2022-05-02 08:48] romm commented on #113
Hi @eigan, thanks for the report!

It looks like a valid usecase indeed; I'd link it to #3 which is next on my todo list.

[2022-05-02 08:50] romm commented on #114
Thanks for the excellent reproduction steps, I will definitely take a look at it.

Also, looks like it's bound to #34.

[2022-05-02 08:54] romm commented on #111
Hi @aiglesiasn, your approach seems to be valid for this usecase, although it makes me think we should probably ship a source modifier that could handle "automatic" json decoding among the input.

I'll keep you updated here. 🙂

[2022-05-02 16:01] boesing opened #115 "Pre-generation of signature caches"
Hey there,

I recently started to use this library.
I was thinking of actually writing a CLI command for CI pipeline which searches for the `TreeMapper#map` usage and parses the 1st argument (FQCN) from it.

I do want to pass this FQCN to the `TypeParser#parse` method so that the `cacheDirectory` entry is being created.

What I found out is, that there is no way to actually get an instance of the

[2022-05-03 07:48] romm commented on #115
Hi @boesing, I did not give access to the container instance on purpose to avoid giving access to everything (which would result in more maintenance burden).

However, this is a good suggestion, and a part of this feature could even be part of the public API provided by the library, maybe something like `MapperBuilder::warmup(SomeClass::class, SomeOtherClass::class)`. I'd be happy to help/review i

[2022-05-04 01:34] aiglesiasn commented on #111
Thank you @romm!

[2022-05-04 14:53] boesing opened #118 "`psalm-` and `phpstan-` phpdoc-prefix handling"
Hey there,

we still have some legacy code out there which was not yet migrated to PHP 7.4 and thus, contains the following code:

[code]

The reason for this is, that we wanted to provide native types for the IDE while also providing psalm-specific types for static analysis.

This also works with `@phpstan-var`, `@phpstan-param`.

So PHPStorm did not properly supported `non-empty-string` for exam

[2022-05-04 18:46] romm commented on #118
Hi @boesing, that would make sense to support it indeed, and besides it is already supported for template annotations, see:

https://github.com/CuyZ/Valinor/blob/34f519b5837b1d1e7e2f4f270b4338ad1553eb6d/src/Type/Parser/Template/BasicTemplateParser.php#L19-L26

The change would not be that hard. The `@phpstan/psalm-var/param` annotation should override any basic `@var/param` annotation, so it would

[2022-05-04 21:01] eigan opened #119 "Support class constants properties"
As defined at phpstan here: https://phpstan.org/writing-php-code/phpdoc-types#literals-and-constants

[code]

### Actual use-case
Optional properties in payload.
[code]
Today, the error message is:

![image](https://user-images.githubusercontent.com/41789/166860693-61df0b54-ea1e-4812-a279-01a662dc331a.png)
(Screenshot taken in ReflectionPropertyDefinitionBuilder)

Notice it simply ignores the rest

[2022-05-06 06:04] eigan commented on #119
I tried to implement a simple ConstantType, but seems to need a lot of changes, more than I am comfortable 'just doing'.

Example
[code]

To implement `ConstantType::matches(Type $other): bool` do we need to know the value of the Type. `ReflectionTypeResolver` will resolve the default value of `$type` here as `NativeStringType`. We cannot match with that. Not sure how to solve this, maybe NativeSt

[2022-05-06 07:32] romm commented on #119
Hi @eigan, I'd be glad to help you when you're ready to submit a PR.

Concerning your issue, I think you should take a look at `StringValueType` instead of `NativeStringType`, that should help you. Same if the constant value is an integer: you can use `IntegerValueType`.

Don't hesitate if you need more help!

[2022-05-06 08:15] eigan commented on #119
@romm I did try `StringValueType`, but then the type is `FixedType` and casting is no longer supported.

Consider the case:

[code]
Type of `Bar::$type` is now `StringValueType` an cannot be cast to say `"bar"` if you send that in `$source`. Lots of tests failed because of this.

See wip here https://github.com/eigan/Valinor/pull/1/files

[2022-05-06 08:39] romm commented on #119
I see, this might not be as easy as it first seemed to be.

At first I thought the `ConstantType` should act as a decorator somehow, and should handle both scalar (`string`, `int`, `float` and `bool`) and array values.

But now I wonder if there should just not be any `ConstantType` at all, and the lexer should directly map to existing types.

[code]

—> the resolved type would be `StringValueType

[2022-05-06 08:51] eigan commented on #119
[code]

What would the resolved type be in this case?

[2022-05-06 08:51] boesing commented on #118
Closed with #120

[2022-05-06 08:51] #118 closed

[2022-05-06 09:08] romm commented on #119
Damn I just learned something!

This looks like a twisted case, but this would be possible so that should be handled as well. I'll have to think a bit about it.

If you're ok with it, I will help you out with the lexing part which could be a bit hard (unless you want to try to do it by yourself), then you should be able to finish it. I'll keep you posted. 🙂

[2022-05-06 17:23] eigan commented on #119
I am not a "lexer" guy (no experience here), but want to help. Writing tests or whatever :)

My initial thought after your last comment was to try return the correct token after resolving the value of the constant. Doesn't sound that difficult, but might say more about my experience than anything... :)

Please let me know when you think about starting with this, it's something we need so I am espe

[2022-05-19 12:30] eigan opened #131 "Cache not invalidated after changing parent"
### Steps to reproduce
[code]

[code]

[code]

1. Run `php test.php`
2. Error: The type `FooBar2` for property `TopLevel::$foo` could not be resolved: Cannot parse unknown symbol `FooBar2`
3. Now solve the issue, for instance by removing `$foo` from `TopLevel`
4. Run `php test.php` and the same error is thrown, as if the property wasn't removed.

[2022-05-21 12:55] romm commented on #131
Hi @eigan thank you for the report, I can indeed see the issue here.

I already planned to change a bit how the cache is managed, I should be able to submit a patch quite soon: I'd be glad to have your feedback on it so I'll keep you updated here.

[2022-05-22 22:33] romm commented on #131
Hi @eigan, the changes in #132 should fix this issue. Would you mind checking the PR branch out and testing locally if the issue is fixed?

Thanks!

[2022-05-22 22:37] romm commented on #48
Hi @aurimasniekis, I just submitted #132 which should meet your needs. If you're up to, I'd love to get some feedback on it. 🙂

[2022-05-22 22:43] romm commented on #24
Hi there, I just submitted #132. The discussions we had here inspired me on how to implement it, so I guess you might be interested. 🙂

[2022-05-22 22:46] romm commented on #2
Hi there, I recently merged #106 which improves a lot the way the messages can be handled by the library.

You can check out the new [documentation chapter](https://github.com/CuyZ/Valinor#message-customization) about it; I'd love to have some feedback on it. 🙂

[2022-05-23 04:47] eigan commented on #131
@romm Branch `feat/file-system-cache` with configured `FileWatchingCache` does not have this issue 👍🏻

[2022-05-23 08:31] #2 closed

[2022-05-23 21:08] romm commented on #24
Closed with #132.

[2022-05-23 21:08] #24 closed

[2022-05-23 21:09] romm commented on #48
Closed with #132.

[2022-05-23 21:09] #48 closed

[2022-05-23 21:10] romm commented on #115
Closed with #116.

[2022-05-23 21:10] #115 closed

[2022-05-23 21:10] romm commented on #131
Closed with #132.

[2022-05-23 21:10] #131 closed

[2022-05-25 11:29] eigan opened #137 "JsonSource and shape"
Snippet from example, but replaced with JsonSource

[code]
[code]

Replacing $signature with a Dto makes this work.

[2022-05-26 15:55] romm commented on #137
That was indeed an issue, thanks for noticing!

[2022-05-31 16:23] romm opened #143 "Allow inferring of classes with children classes"
As stated in https://github.com/CuyZ/Valinor/pull/136#issuecomment-1137533785, the following should work:

[code]

[2022-06-08 18:06] eigan opened #148 "Detect unused properties by allowing ArrayAccess as source"
I want to detect if a property in source is sent but never ends up being used (for instance a typo). By allowing Source to be ArrayAccess could this be trivial to implement outside of Valinor _(register used properties in `MySource::offsetGet`)_. I made some very small adjustments to Valinor to make it work (for my very basic DTO), but would need some more testing.

What do you think of the idea?

[2022-06-08 18:26] romm commented on #148
Hi @eigan, I'm currently working on a stricter version of the mapper, which will be able to detect unused keys; I'll keep you updated here so you can give feedback when it's ready to be tested. 🙂

[2022-06-09 16:51] eigan opened #149 "Provide generic template value for registerConstructor function"
_Sorry for all the issues, I really love the library!_ 😅

Might be related to #8, though that was when `@template` was used at root.

[code]

- This is not a real-life example

[2022-06-16 12:52] mstosicfb opened #158 "Separate exceptions for field missing and cast fail"
Is there a way to differentiate if the field is missing from the input array from the case when it exists, but it can't be cast?
If I'm not missing something, both use cases throw CannotCastToScalarValue exception.

It would be handy if those were separate exceptions.

[2022-06-16 13:01] romm commented on #158
Hi @mstosicfb you will be very happy to know that I'm currently working on a stricter mode of the mapper which should solve this issue.

I'll keep you updated here to let you know when it's ready, and I'd be very happy to have your feedback when it's available for being tested!

[2022-06-17 16:08] romm commented on #113
Hi @eigan, #159 should fix this. Can you take a look and see if this is solved on your side?

[2022-06-17 16:11] romm commented on #114
Hi @eigan, thanks again for the report, that helped a lot for #159. Could you try on your side to see if this leads to expected behaviors?

[2022-06-17 16:12] romm commented on #158
Hi @mstosicfb, #159 brings a separation between those cases you described. Could you take a look, try it on your side and give feedback?

[2022-06-17 16:15] romm commented on #34
Hi @novafree1, better late than never 🙂 — #159 should fix this issue. Can you try it out on your side and give feedback?

[2022-06-17 18:05] romm commented on #148
Hi @eigan, #159 should solve this issue. Could you take a look and give feedback? 🙂

[2022-06-17 19:07] eigan commented on #114
@romm Thanks! :)

Not sure if this fits here, but anyway, some testing:

[code]
## Result
[code]
## Expected
[code]
Nested type might be a bit tricky to render any further.. :)

[2022-06-17 19:12] eigan commented on #114
[code]

## Result
[code]

Changing type to `Foo` triggeres the same error from `src/Mapper/Tree/Builder/ClassNodeBuilder.php on line 91`

[2022-06-17 19:20] eigan commented on #114
[code]

## Result
[code]

## Expected
No error. $bar is nullable and has default value of null. There is no error when the default value is a string, so it is partially implemented.

[2022-06-17 19:28] eigan commented on #148
[code]

## Result
[code]

## Expected
[code]
Might not be a bug, just a bit more convenient to show all messages at once 🙂

[2022-06-20 10:09] romm commented on #148
Good suggestion, I just updated the PR. That also helped me to spot a bug, so thank you. 😄

[2022-06-20 10:17] mstosicfb commented on #158
Hi @romm, thanks for the quick response, and quicker prototype solution.

I've tested changes from https://github.com/CuyZ/Valinor/pull/159, exceptions now work like expected, but the catch is that it only works with strict mode. Flexible mode still returns the same CannotCastToScalarValue exception in both cases.
Is this behaviour intentional?

By the way, I like the idea of strict mode, and will

[2022-06-20 11:04] romm commented on #114
Hi @eigan, really good catch! Should be fixed with my last commit in #159, can you confirm?

[2022-06-20 11:33] romm commented on #158
Hi @mstosicfb, you're absolutely right and the behavior has been changed. Could you try again and check if it's ok by your side?

The strict mode is the new default of the mapper, as described in the [new chapter of the documentation](https://github.com/CuyZ/Valinor/blob/15feb62eacd9eacfabecb54357a2cdb171935ee4/docs/pages/mapping/type-strictness.md#type-strictness). I'm not sure to understand what

[2022-06-20 16:05] eigan commented on #114
- Issue with nullable and default null seems to be fixed 👍🏻
- Memory issue still an issue, though seems to be an issue in master too.

Seems like you have solved all my points in this issue now 👏🏻

------

Recursive issue: Take a look at the following example. When sending a nested value, the error is reported as expected _(type of Foo is exposed)_. So it seems to be sort-of implemented. But, I ca

[2022-06-23 09:52] romm commented on #3
Released as [0.11.0](https://github.com/CuyZ/Valinor/releases/tag/0.11.0). Enjoy!

[2022-06-23 09:52] #3 closed

[2022-06-23 09:53] romm commented on #34
Fixed with #159.

[2022-06-23 09:53] #34 closed

[2022-06-23 09:54] romm commented on #113
Fixed with #159.

[2022-06-23 09:54] #113 closed

[2022-06-23 09:54] romm commented on #114
Fixed with #159.

[2022-06-23 09:54] #114 closed

[2022-06-23 09:54] #148 closed

[2022-06-23 09:55] #158 closed

[2022-06-23 09:55] Ocramius commented on #3
Nice!

[2022-06-24 20:57] romm opened #164 "Handle objects circular references"
As revealed in #114, circular references should be handled better, especially to prevent infinite loop.

[2022-06-28 08:50] DavideBicego opened #166 "How can I add the path to a Message"
I'd like to add the subject of the issue so that catching the MappingError I can compose an API response similar to
[code]

I'm throwing a custom Exception like this one in the mapping signature Object constructor
[code]

Do you have any suggestion?

By the way the reason why I need to throw a custom exception here is because the mapper isn't able to map a string to an `\MyCLabs\Enum\Enum`. The is

[2022-06-28 14:02] DavideBicego commented on #166
But only for those Message objects generated by the library, I can't find a way to initialize my custom Exception that implements Message with a path defined. Am I missing something?

[2022-06-28 14:36] DavideBicego commented on #166
I tried with
[code]
but I receive a `CuyZ\Valinor\Type\Types\UnresolvableType`.

I tried with
[code]

but i receive a `CuyZ\Valinor\Definition\Exception\InvalidPropertyDefaultValue`
[code]
which is exactly the same error that occurs if I don't specify any custom construct

[2022-06-29 09:39] DavideBicego commented on #166
The exact same code gives me a CuyZ\Valinor\Definition\Exception\InvalidPropertyDefaultValue:
[code]

I'm using
- cuyz/valinor 0.11.0
- myclabs/php-enum 1.8.3
- psalm 4.23.0

[2022-06-30 11:35] magnetik opened #169 "Having two infer do not work"
Hi,

It seems that having two infer registered do not work.

I've done a "as simple as possible" repro code here : https://github.com/magnetik/valinor-repro

When I register A before B I have an error on B, and when I register B before A, I have an error on A.

Is there something I'm missing?

[2022-07-01 19:55] romm commented on #169
Hi @magnetik, good catch! Thanks for the repo, helped a lot to reproduce the issue locally.

Could you check #170 to see if that fixes your issue?

[2022-07-04 11:04] jamesRUS52 opened #171 "Example from doc not working with PHPStan"
PHPStan return error
Method MyClass::getResponse() should return MyClass but returns object.

[code]

[2022-07-04 12:57] magnetik commented on #169
I just tested and it works (the `Root` class was not correct in my example, but it works when fixed) !

[2022-07-04 17:02] romm commented on #169
Perfect, thank you!

[2022-07-04 17:02] #169 closed

[2022-07-04 17:21] romm commented on #166
Hi @DavideBicego could you try checking out #172 and see if that solves this issue for you?

[2022-07-06 15:30] DavideBicego commented on #166
Unfortunately I tried but with
[code]
I still get a CuyZ\Valinor\Type\Types\UnresolvableType with message: The type `static` for return type of method `MyCLabs\Enum\Enum::from()` could not be resolved: No generic was assigned to the template(s) `T` for the class `MyCLabs\Enum\Enum`.

And With
[code]
I still get a  CuyZ\Valinor\Definition\Exception\InvalidPropertyDefaultValue with message: Default

[2022-07-06 15:33] romm commented on #166
Hi @DavideBicego something must be wrong with the second option, because the exception `InvalidPropertyDefaultValue` was totally removed in the PR. Are you sure you checked the correct branch in your environment?

[2022-07-06 15:52] DavideBicego commented on #166
I'm sorry, something must have gone wrong.
This are the actual responses.
With
[code]
I still get the same response

But With
[code]
It works! 👍

I also tried with no registered constructor and the response is a `CuyZ\Valinor\Mapper\Tree\Exception\UnresolvableShellType` with message: The type `T` for parameter `MyCLabs\Enum\Enum::__construct($value)` could not be resolved: Cannot parse unknown sym

[2022-07-06 16:03] romm commented on #166
Yeah unfortunately I wont be able to fix this issue for now. Glad it works in your project!

Closing the issue.

[2022-07-06 16:03] #166 closed

[2022-07-10 17:10] szepeviktor opened #179 "Proper CI"
Would you welcome a CI configuration that runs each QA tool in a separate job?

[2022-07-10 17:24] romm commented on #179
I think that's not necessary, the CI is mostly here to check that everything is fine. For my local development, I always check before pushing so it happens in rare cases when the CI output is actually useful.

Maybe if/when the contribution workflow needs to be improved, but I'm not sure it will be necessary.

Thanks for asking, though. :)

[2022-07-10 17:24] #179 closed

[2022-07-10 17:48] szepeviktor commented on #179
Okay.

When one ✔️ or ❌ belongs to one QA tool contributors may see what tool failed.

[2022-07-18 18:24] sergkash7 opened #184 "numeric-string"
The type `numeric-string` for parameter ... could not be resolved: Cannot parse unknown symbol `numeric-string`

https://psalm.dev/docs/annotating_code/type_syntax/scalar_types/#numeric-string

[2022-07-25 20:34] #184 closed

[2022-07-25 21:26] szepeviktor commented on #171
This change _would_ resolve this problem.
https://github.com/CuyZ/Valinor/pull/187/files

[2022-07-26 20:59] romm commented on #171
Hi @jamesRUS52, thanks for the report.

I can't reproduce it on my local environment, using PHPStan 1.6.7. What versions of Valinor and PHPStan are you using?

[2022-07-31 13:08] Ocramius opened #192 "Could the mapper be pure?"
Looking at `TreeMapper`, I wonder if we can mark `map()` as `@psalm-pure`, allowing us to force the design of all internal callbacks (specifically userland ones) to not perform I/O or side-effects in general.

This would greatly improve the safety of the mapper, even if it is reduced in scope.

[2022-07-31 13:37] romm commented on #192
Sounds like a great idea indeed.

I'm currently using it in a customer's project to fetch entities directly from the DB, but I was already asking myself if I was not abusing the library's capabilities…

I'll take some time to think about it. Also, I'd love to have comments/feedback from other users and contributors on this suggestion; I'll allow myself one ping, hope that's ok with you guys 😅  — @

[2022-08-02 21:08] brayniverse commented on #192
Hi @romm, I'm not using this library on any active projects at the moment but I appreciate the consideration. I have no objections to `map()` being marked as `@psalm-pure`.

[2022-08-04 03:20] pscheit opened #196 "CuyZ\Valinor\Definition\Exception\TypesDoNotMatch: Return types for method `Ramsey\Uuid\Uuid::fromBytes()` do not match: `Ramsey\Uuid\Rfc4122\UuidInterface` (docblock) does not accept `Ramsey\Uuid\UuidInterface` (native)."
Hi there,

thanks so much for writing valinor. Now i have this error:

[code]

I tried:
[code]

to avoid:
[code]

I read thats a problem with the ramsey library. But how can I workaround it? Why does it pick the fromBytes even if I provide a customer constructor?

Thanks for the help, i just updated to v0.13

[2022-08-04 15:18] magnetik opened #197 "Caching use illegal chars"
The PSR 6 states:

But during caching, the filename (with path) of a class will be used.

Using with Symfony CacheAdapter, this lead to errors because key are validated before usage.

[2022-08-11 14:17] timmipetit opened #200 "Best way to map inputs?"
First of all: great library!

We're trying to use this library to map GET request params in our API to some DTO. Some stuff is easy to map, but other stuff a bit more complex. I'm wondering what the best/recommended way is to map stuff around.

For example, our API accepts a `?product_id=1,2,3` request that we want to map to an array of ints. So let's say our constructor looks something like this:

[2022-08-26 02:44] AndrolGenhald opened #203 "Separate config for ignoring extra fields and allowing casts"
`MapperBuilder::flexible()` enables flexible mode to automatically cast types and ignore extra fields, but I would like to ignore extra fields _without_ casting types. Ignoring unknown JSON fields in a REST API is pretty common to help with forward compatibility, but I'd like to keep the types strict.

[2022-08-27 20:25] AndrolGenhald opened #204 "Support class const wildcard"
Psalm and PHPStan support using `Foo::Bar_*` as a union type of all class constants in `Foo` matching `Bar_*`: https://psalm.dev/r/1171a1c5c6 https://phpstan.org/r/0dc72c36-508b-43d0-8f10-726b12a4a847

It would be really nice to have this in Valinor so I don't have to go copy all of the literal values into a union type and make sure it stays in sync.

[2022-08-27 21:00] AndrolGenhald opened #205 "Allow trailing comma in array shapes"
Similar to PHP arrays, argument lists, etc, I like to use trailing commas for multi-line array shapes: https://psalm.dev/r/c2542c6325

When I do this for a constructor param used by Valinor it complains about:

[2022-08-30 13:32] romm commented on #203
Hi @AndrolGenhald, you are not the first one to ask for a way to distinguish these two options. I'll definitely think about a way to make it possible, I'll keep you updated here.

[2022-08-30 13:34] romm commented on #204
Hi @AndrolGenhald, closing as duplicate of #119.

Thanks for the submission though, also you'll be glad to hear that I already have a prototype working locally for both constants and enum cases. Some things are missing but this will definitely be available in an upcoming release!

[2022-08-30 13:34] #204 closed

[2022-08-30 13:35] romm commented on #205
Good catch, I'll submit a fix for it ASAP. 😉

[2022-08-30 13:39] romm commented on #200
Hi @timmipetit, using named constructor is completely up to you and your needs; if a native constructor or public readonly property is enough, there is probably no need to declare named constructors.

Not sure if it answers your question though. Have you had troubles using the mapper?

[2022-08-30 13:42] romm commented on #197
Thanks for the report! I'll prepare a fix ASAP. 😉

[2022-08-30 19:20] #205 closed

[2022-08-30 21:45] AndrolGenhald commented on #203
I might take a stab at it myself in a week or two. It doesn't seem too difficult, and a quick search shows that most of the relevant classes are `@internal` so compatibility shouldn't be too hard to handle.

[2022-08-30 23:01] #197 closed

[2022-09-02 15:28] gsteel opened #215 "Potentially silly question: Am I using it right?"
Given an input of

[code]

and assuming I want to hydrate this input to a `Person` such as:

[code]

am I correct that Valinor is not capable of mapping the input to these classes directly and a typical workflow would involve first mapping to a trusted array shape and then building your value objects some other way, i.e.

[code]

The type inference for the resulting array is **amazing** :D

[2022-09-02 16:01] romm commented on #215
Hi @gsteel, the library would usually be used to map an input directly to value objects so you don't have to manually do the work.

In your case I see there is one special case though, the name is given both to the `Person` and the `Email`. Valinor doesn't have a solution for this, but I could suggest something like this (adapted to your needs):

[code]

And then map directly to the object like so

[2022-09-02 16:40] gsteel commented on #215
Thank you @romm - I'm looking forward to using Valinor in client projects soon 💪

[2022-09-02 16:40] #215 closed

[2022-09-02 16:41] romm commented on #215
Glad to hear it! Good luck with the mission then. 😉

[2022-09-13 07:38] timmipetit commented on #200
Thanks for the reply @romm. Didn't try the mapper really, since we couldn't find much documentation about it. We've solved it now by using a named constructor, but we might be able to rewrite it a bit. Was just curious about what is considered to be best practice for this library

[2022-09-13 07:38] #200 closed

[2022-09-13 09:31] romm commented on #200
Hi @timmipetit, actually there is documentation at [valinor.cuyz.io](https://valinor.cuyz.io/); have you checked that already?

In any case, I hope your project is going well. 😉

[2022-09-16 21:17] jeromegamez opened #217 "Inferring interfaces without knowing their implementation"
Hi there 👋,

I'm not sure the title makes sense, but I hope it becomes clearer when I describe what I'm trying to do and how in order to learn if I've overlooked something in the docs or if it's something that's not possible.

An API that I'm writing an API client for provides URLs as strings, which I would like to map to a `\Psr\Http\Message\UriInterface` implementation in my objects:

[code]

I'

[2022-09-17 20:56] jeromegamez commented on #217
I found a solution for this, but I'd need you to tell me if it's a solution or just a workaround 😅

I introduced a new Source to modify the URLs before reaching the mapper:

[code]

With the new source, I can now do this:

[code]

Is this the preferred way to do these transformations? I find the way I tried in my OP more intuitive, but if a custom source is the way to go, I'm happy with it!

[2022-09-18 16:36] marcospassos opened #218 "Bad error reporting for value objects"
In our code base, we have several value objects for representing IDs, like `WorkspaceId`, `OrganizationId`, etc. When mapping a value where such ids were expected, Valinor yields poor unuseful messages like:

I understand that exposing the class name isn't a good idea for security reasons. However, currently, there is no way to handle such cases:

- The originally expected type isn't retained, so

[2022-09-24 16:06] romm commented on #217
Hi @jeromegamez, I understand your issue, this is a known limitation of the library and a fix is planned to be released in one of the upcoming versions.

The code below does not work for now, but this is what I plan to support in the future:

[code]

In the meantime I hope the solution you found is enough for you.

I'll keep this issue opened, and keep you updated when the feature is shipped in th

[2022-09-24 16:39] romm commented on #218
Hi @marcospassos, thanks for the report and the suggestion.

I've been thinking about a solution to avoid using `?` in the message body but didn't come to something yet. When I get some time I'll work on this again.

In the meantime, would it be ok for you to use a custom formatter that could look like this:

[code]

Please keep me updated. 🙂

[2022-09-27 09:19] boesing commented on #203
I would be +1 on this.

We do use use valinor in the exact same scenario: API response to DTO mapping.
Since adding new properties to a response is not a BC break, this shouldn't lead to problems in valinor.

For now, I do actually set `flexible` again but I only have to do that to allow new properties to exist.

[2022-09-28 09:11] kafkiansky opened #223 "Allow infer interfaces with generic types"
Hi! I have the following code:

[code]

But the following error occur: `Fatal error: Uncaught CuyZ\Valinor\Mapper\Tree\Exception\InvalidAbstractObjectName: Invalid interface or class name App\Displayer. in /var/www/vendor/cuyz/valinor/src/Mapper/Tree/Builder/ObjectImplementations.php:102`

Is there any way to make this code work? Thank you. The original error which valinor suppress is `No generic

[2022-10-04 20:15] #119 closed

[2022-10-10 11:17] boesing opened #232 "Question: How to map an object to another object?"
Hey there,

I have a use-case where I do query elasticsearch and already get back a `json_decode`d object.
As far as I see, there is no proper way to actually have non-arrays to be mapped.

Am I missing something or do I have to `json_encode` my objects before I pass them to the mapper to be mapped to my signature?

[2022-10-11 09:45] romm commented on #232
Hi @boesing, indeed there is no such feature as deserialization in this library right now, so I guess the best thing to do right now would be something like `json_decode(json_encode($yourObject), true)`.

Maybe one day I'll consider adding this kind of feature, but this is not planned yet.

[2022-10-12 06:44] acelaya opened #233 "Support PHP 8.2"
Hey!

Is there any plan to support PHP 8.2? I'm using this package in pipelines with PHP 8.2 where I install deps with `--ignore-platform-req=php+`, and everything works fine, so I guess officially supporting it should be relatively straightforward.

I can provide a PR if you are ok with it.

[2022-10-12 07:27] acelaya opened #234 "Segmentation fault when trying to parse custom dates"
I'm trying to make valinor map `DateTimeInterface` properties to [cakephp/chronos](https://github.com/cakephp/chronos) objects, by following [this documentation](https://valinor.cuyz.io/latest/other/dealing-with-dates/#custom-date-class-implementation), but when configure it to infer the type, it halts the script with a segmentation fault when trying to map objects.

It can be reproduced with vali

[2022-10-13 16:06] marcospassos commented on #218
Just an update here: I'm afraid the hole it a bit deeper. That's what we're using right now to achieve what we need:

[code]

There's room for DX improvement here, IMHO.

[2022-10-13 16:09] marcospassos commented on #218
@romm, do you see any more maintainable way of achieving the same output?

[2022-10-13 21:31] marcospassos opened #235 "Allowing arbitrary array"
We don't enable the flexible mode in any of our projects. However, we have a use case where the input is an object where one of the properties is an arbitrary array.

Currently, trying to map a value to that object results in the following error:

[code]

Should properties strictly typed as `array<mixed>` or `mixed` really reject values? I completely understand this behavior for untyped properties

[2022-10-17 15:28] acelaya commented on #233
Amazing! Thanks a lot 🙂

[2022-10-17 16:49] romm commented on #234
Nice catch!

Should be fixed with #237 — any chance you can test it out on your side and confirm if it's ok?

[2022-10-17 16:53] acelaya commented on #234
I sure can

[2022-10-17 18:00] acelaya commented on #234
Yep, I can confirm it fixes it :)

[2022-10-18 14:49] brayniverse commented on #232
In your particular scenario could you cast the JSON decoded object to an array?

[code]

I guess it depends on the complexity of the object that elasticsearch is providing you but if it's a basic stdClass object this should work (see example https://3v4l.org/TvUEp).

[2022-10-19 11:36] #234 closed

[2022-10-19 11:50] romm commented on #234
Thank you for the confirmation!

Now released as [0.16.0](https://github.com/CuyZ/Valinor/releases/tag/0.16.0). 😉

[2022-10-19 11:50] romm commented on #233
Done, and available with [0.16.0](https://github.com/CuyZ/Valinor/releases/tag/0.16.0). 😉

[2022-10-19 11:50] #233 closed

[2022-10-19 13:20] TimWolla opened #240 "Mapper maps parameter names of inner objects"
Unfortunately I was not able to think of a better title. Please consider the following failing test case:

[code]

Now consider the following situation:

1. In the initial version of my application the target class is `Target1`. This class expects a single `tz1` parameter containing a value timezone string.
2. The user erroneously sends `timezone=UTC` (i.e. accidentally uses `timezone` instead of

[2022-10-24 22:10] marcospassos opened #241 "Multiple cache roundtrips"
The library is currently using the `Cache::has` method that is intended for caching warmup, thus performing many roundtrips. For cache backends that perform IO, this is a huge performance penalty.

From the spec:

     and not to be used within your live applications operations for get/set, as this method
     is subject to a race condition where your has() will return true and immediately after,

[2022-11-02 21:19] romm commented on #218
Hi @marcospassos sorry for the late answer.

Could you take a look at #244? It introduces new helpers that would help you achieve what you want in a better way:

[code]

WDYT?

[2022-11-02 22:04] marcospassos commented on #218
That's a bit better, but the main problem relies on obscure codes.

[2022-11-03 13:09] romm commented on #218
I see. I'll give it some thought, maybe use more explicit codes, like `invalid_node_value` or something like that.

I'll keep you updated here.

[2022-11-03 13:39] marcospassos commented on #218
Enums or constants are the way to go IMHO

[2022-11-04 09:10] rubenrubiob opened #245 "Allow `null` in registered constructor"
Hello,

We recently started using this library, and encountered the following issue.

Suppose we have a value object that accept string or null as its value:

[code]

And that with have some other object that has an attribute of that Value Object within:

[code]

When we try to map the object with a null value, the library gives us an error:

[code]

[code]

Disabling flexible mode gives us the sa

[2022-11-07 00:26] romm commented on #235
Hi @marcospassos, could you check #248 and tell me what you think of it?

[2022-11-07 00:27] romm commented on #203
Hi @AndrolGenhald & @boesing, could you take a look at #248 and tell me what you think of it?

[2022-11-08 01:12] AndrolGenhald commented on #203
Looks great to me! That's pretty similar to what I had been working on before my day job took all my time away.

[2022-11-08 01:22] boesing commented on #203
LGTM as well. Having every feature configurable dedicatedly makes the most sense to me.

[2022-11-08 12:50] romm commented on #203
Released with [0.17.0](https://github.com/CuyZ/Valinor/releases/tag/0.17.0).

Enjoy!

[2022-11-08 12:50] #203 closed

[2022-11-08 17:38] rubenrubiob commented on #245
I tested using the just released 0.17.0 version. It works perfectly when using the new `enableFlexibleCasting`.

For reference, the mapper should be configured like so:

[code]

Thank you!

[2022-11-08 17:56] romm commented on #245
Hi @rubenrubiob, I'm glad the last release fixes your issue, however your use case is an actual bug; your example should work even without the flexible mode.

I'll reopen the issue and wait to have some time to take a further look.

Thanks for the report anyway!

[2022-11-08 19:10] rubenrubiob commented on #245
I am somehow glad that we found a bug, then 😅

We are heavily using Valinor, so if we find other edge cases we will let you know!

[2022-11-09 20:06] romm commented on #245
Hi @rubenrubiob, this issue should be fixed with #250. When it is released, I recommend you do not use `enableFlexibleCasting` unless you really need it for something else. 😉

[2022-11-09 20:07] #245 closed

[2022-11-10 07:09] eigan commented on #171
@jamesRUS52 Can you reproduce this on phpstan.org?

I was not able to.
https://phpstan.org/r/eb782ea4-5c29-4bd0-a67b-7fe0f7cc2904

[2022-11-10 08:24] romm commented on #171
Same here.

Closing this issue, feel free to reopen if the issue persists on your side.

Thanks @eigan for the update. 😉

[2022-11-10 08:24] #171 closed

[2022-11-11 17:43] romm opened #252 "Handle `...` operation in `array` and `list`"
See vimeo/psalm#8701

[2022-11-14 18:35] rubenrubiob commented on #245
Great, thank you! We will update as soon as there is a new version available :)

[2022-11-22 22:00] romm commented on #192
Hi @Ocramius, after giving it some thoughts I agree on the proposal; I've submitted #260, any chance you can take a look and tell me if something is wrong with my approach?

Cheers. 🙂

[2022-11-23 11:59] nd2021 opened #261 "Update requirements"
composer require cuyz/valinor problem:
[code]

Already released psr/simple-cache 3.0.0:
https://packagist.org/packages/psr/simple-cache

[2022-11-23 13:15] romm commented on #261
Hi @nd2021, sorry for the inconvenience; the first major release of this library will be published at the beginning of next week, it will update the requirements and allow `psr/simple-cache:^3.0`.

May I ask which PHP version your application is running on?

[2022-11-23 17:57] #192 closed

[2022-11-23 21:18] nd2021 commented on #261
Great! PHP 8.1

[2022-11-28 09:42] romm commented on #261
Hi @nd2021, [version `1.0.0` has been released](https://github.com/CuyZ/Valinor/releases/tag/1.0.0) and should fix your issue.

Closing the issue. 😉

[2022-11-28 09:42] #261 closed

[2022-11-28 09:53] romm commented on #240
Hi @TimWolla thanks for the report, I think this issue should be fixed with https://github.com/CuyZ/Valinor/commit/72cba320f582c7cda63865880a1cbf7ea292d2b1 which is a part of the [version `1.0.0` release](https://github.com/CuyZ/Valinor/releases/tag/1.0.0).

Feel free to re-open if the issue persists. 😉

[2022-11-28 09:54] romm commented on #232
Hi @boesing, I'll consider this issue as answered.

Feel free to re-open if needed. 😉

[2022-11-28 09:54] #232 closed

[2022-11-28 11:46] bronek89 opened #269 "Mapping arrays with single entry to objects"
Hi:)

For start - thank you for creating and maintaining this library. I'm using it to map jsons inputs to objects from version `0.3`:)

I have a problem with change introduced in this commit: https://github.com/CuyZ/Valinor/commit/72cba320f582c7cda63865880a1cbf7ea292d2b1

After change in handling objects with single property/argument
it is now harder to map some structures to objects.

For exampl

[2022-11-28 15:47] arnaud-lb opened #270 "Support for generics in interface inference"
Thank you for the awesome work on this library. Valinor is super useful and makes it much easier to deal with external data in a strongly typed project.

I am facing an issue since 0.11 added the following restriction:

Currently, this change makes interface inference incompatible with generic classes, as Valinor will not accept a return type like `class-string<Foo<A>|Foo<B>>` (rightfully, as this

[2022-11-29 14:48] kang8 commented on #92
`$arguments` cannot be scalar.

https://github.com/CuyZ/Valinor/blob/58d54013716dc67ac27fe2117f481de496c1b148/src/Definition/Repository/Cache/Compiler/AttributesCompiler.php#L41

[ReflectionAttribute::getArguments()](https://www.php.net/manual/en/reflectionattribute.getarguments.php#refsect1-reflectionattribute.getarguments-returnvalues) return array, array is not scalar.

[2022-11-30 14:49] romm commented on #270
Hi @arnaud-lb, thank you for reporting this issue; I did not have this usecase in mind when pushing 1b0ff39af650f1c5902ee930f49049042842ec08 indeed.

From my POV, the following *should* make sense, although it is not supported by the library I certainly could make this work:

[code]

But static analysis tools wont be happy about that, see [PHPStan example](https://phpstan.org/r/49f9ba3b-f42e-4cc3-